/* Add this to your CSS file */
.portfolio-grid-wrapper {

    /* Adjust the value as needed */
    background-color: rgb(15, 15, 15, 0.9); /* Dark gray color */
    /* Adjust the color as needed */
    min-height: 100vh;
    /* Ensure the background covers the entire viewport height */
}


.portfolio-grid-wrapper {
    padding-top: 8vh;
    margin-bottom: 5%;
}