/* Add this to your CSS file */
.portfolio-grid-wrapper {

    /* Adjust the value as needed */
    background-color: black;
    /* Adjust the color as needed */
    min-height: 100vh;
    /* Ensure the background covers the entire viewport height */
}


.portfolio-grid-wrapper {
    padding-top: 8vh;
}