.about {
  padding-top: 10vh;
  display: flex;
  justify-content: center;
  padding-bottom: 4%;
}

/* Style the link */
a {
  color: #3498db; /* Set link color to a shade of blue */
  text-decoration: none; /* Remove underline */
  transition: color 0.3s ease-in-out; /* Add a smooth color transition on hover */
}

a:hover {
  color: #2980b9; /* Change color on hover */
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.2) 100%);
}

.map-container,
.route-info-container,
.text-container,
.image-container {
  margin: 0 auto; /* Center the container */
  box-sizing: border-box; /* Make sure content does not exceed device */
  width: 45%;
}

.map-container,
.text-container {
  padding-left: 4%;
  padding-right: 2%;
}

.route-info-container,
.image-container {
  padding-right: 4%;
  padding-left: 2%;
}


.map-container {
  z-index: 1;
}

.route-info-container p,
.text-container p {
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-size: 15px;
  font-style: normal;
  line-height: 1.4em;
  letter-spacing: .03em;
}

.horizontal-line {
  width: 100%;
  height: 2px;
  background-color: #333;
}

/* New styles for the image section */
.about-image-section {
  margin-bottom: 4%;
  display: flex;
  justify-content: center;
  margin-top: 3%;
  /*margin-bottom: 4%; */
}

.image-container img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .about {
      flex-direction: column;
  }

  .map-container,
  .route-info-container,
  .text-container,
  .image-container {
      width: 90%;
      padding-left: 5%; /* Adjust the percentage for padding as needed */
      padding-right: 5%; /* Adjust the percentage for padding as needed */
  }

  .route-info-container {
    padding-top: 10%;
  }

  .horizontal-line {
      margin-top: 10px;
  }

  .map-container {
    margin-top: 4%;
  }

  /* New styles for the image section in smaller devices */
  .about-image-section {
      flex-direction: column-reverse;
  }

  .about {
    padding-bottom: 0;
  }
}
