.image-container {
    margin-top: 10px;
    /* Top margin for image + text */
    display: flex;
    flex-direction: column;
    /* Stacks the items vertically */
    align-items: center;
    /* Centers items horizontally */
    text-align: center;
    /* Centers text horizontally (optional) */
  }
  
  .image {
    max-width: 100%;
    transition: all 0.4s ease-in-out;
  }
  
  .blur {
    filter: blur(10px);
  }
  
  /* Styles the caption */
  p {
    margin-top: 10px;
    font-weight: bold;
    /* Makes the text bold */
    font-size: 20px;
    color: rgba(255, 255, 255, 0.8); /* Caption text color */
  }