/* Header styles */
.header {
    background-color: transparent;
    position: absolute;
    color: #ffffff;
    width: 100%;
    z-index: 2;
    padding: 20px 0;
}

/* Use media queries for responsive padding adjustments */
/* Smaller devices */
@media (max-width: 768px) {

    .nav-container {
        justify-content: center;
        /* Center the elements horizontally */
        position: relative;
        /* Ensure the nav container establishes a stacking context */
        z-index: 1;
        /* Higher z-index for the nav container */
    }

    /* Style the overlay */
    .overlay {
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: -1;
        top: 0;
        right: 0;
        /* Set initial opacity */
        opacity: 0;
        background-color: rgba(0, 0, 0, 0.8);
        transition: 0.3s;
    }

    .menu-icon {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        color: #ffffff;
        align-items: center;
        /* Center the menu button horizontally */
    }

    .menu-icon span {
        height: 3px;
        width: 25px;
        background-color: #ffffff;
        margin: 6px 0;
        transition: 0.4s;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
    }

    .nav-links.transition {
        transition: all 0.3s;
    }

    nav ul li a {
        text-decoration: none;
        color: #ffffff;
        /* Change color of navigation elements */
        font-family: 'Futura', sans-serif;
        opacity: 1;
        font-size: 22px;
        /* Set the initial opacity */
    }

    nav ul li {
        display: flex;
        /* Maybe change for mobile vertical layout */
        margin-right: 30px;
        /* Adjust spacing of individual items */
        opacity: 1;
        /* Set the initial opacity */
    }
}

/* Larger devices */
@media (min-width: 769px) {

    .nav-links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Style for navigation elements within the <nav> element */
    nav {
        position: fixed;
        top: 0;
        right: 0;
        padding: 3rem;
        /* Adjust the initial padding as desired */
        /* Change the color of the navigation elements to black */
    }

    /* Navigation menu styles */
    nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
    }

    nav ul li {
        display: inline;
        /* Maybe change for mobile vertical layout */
        margin-right: 30px;
        /* Adjust spacing of individual items */
        transition: opacity 0.3s ease;
        /* Add a smooth transition for opacity changes */
        opacity: 1;
        /* Set the initial opacity */
    }

    nav ul li a {
        text-decoration: none;
        color: #ffffff;
        /* Change color of navigation elements */
        font-family: 'Futura', sans-serif;
        opacity: 1;
        font-size: 22px;
        /* Set the initial opacity */
    }

    nav ul li:last-child {
        margin-right: 0;
        /* Remove margin from the last element */
    }

    /* Apply opacity change on hover */
    nav li:hover {
        opacity: 0.3;
        /* Adjust the opacity value as needed */
    }

    nav a {
        text-decoration: none;
        color: #000000;
        /* Adjust text color of the navigation elements */
        font-weight: bold;
    }
}