/* Header.css */

.header {
    position: absolute;
    color: #ffffff;
    width: 100%;
    z-index: 2;
    padding: 20px 0;

    transition: opacity 0.5s ease, visibility 0.5s ease;
    /* Add transition for smooth hiding and showing with ease animation */
}

.header-hidden {
    opacity: 0;
    visibility: hidden;
}

.header-visible {
    opacity: 1;
    visibility: visible;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-icon {
    display: none;
    /* Hide the menu icon initially for larger devices */
    cursor: pointer;
    color: #ffffff;
}

.menu-icon span {
    height: 3px;
    width: 25px;
    background-color: #ffffff;
    margin: 6px 0;
    transition: 0.4s;
}

.nav-links {
    display: flex;
    /* Show the nav elements initially for larger devices */
    position: fixed;
    top: 5%;
    right: 5%;


    z-index: 1;
    flex-direction: column;
    align-items: flex-end;
    /* Align nav elements to the top right */
}

.overlay {
    display: none;
    /* Hide the overlay initially for larger devices */
}


nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    display: inline;
    margin-right: 30px;
    transition: opacity 0.3s ease;
    opacity: 1;
}

nav ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Futura', sans-serif;
    opacity: 1;
    font-size: 22px;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

nav ul:hover li:not(:hover) {
    opacity: 0.3;
    /* Reduce the opacity of all other nav elements when a specific nav element is being hovered */
}

nav ul li:hover {
    opacity: 1;
    /* Keep the opacity of the hovered element at 1 */
}

nav ul li:hover a {
    color: orange;
    text-decoration: underline;
}

/* Makes sure the clicked element changes color */
nav ul li a.active {
    color: orange;
    text-decoration: underline;
}


nav ul li:last-child {
    margin-right: 0;
}



@media (max-width: 768px) {

    /* Styling of menu icon */
    .menu-icon {
        display: flex;
        /* Show the menu icon initially for smaller devices */
        flex-direction: column;
        justify-content: center;
        /* Center the menu icon horizontally */
        top: 25px;
        right: 25px;
        /* Adjust the top position as needed */
        align-items: center;
        /* Center the menu icon vertically */
        position: fixed;
        transform: translateX(-50%);
        z-index: 3;
        /* ensure the menu button is on top */
    }

    /* Styling of nav elements */
    .nav-links {
        opacity: 0;
        transform: translateX(-100%);
        /* Initially off-screen to the right */
        /* Initial state for opacity transition */
        visibility: hidden;
        /* Initial state for visibility transition */
        transition: none;
        /* No transition by default */
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        padding-top: 100px;
        padding-left: 25px;
        /* Adjust the top padding as needed */

        align-items: flex-start;
        /* Center the menu icon vertically */
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 1;
        flex-direction: column;
        display: flex;
        /* Needs to be there for the initial animation */

        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
    }

    .menu-open .nav-links {
        visibility: visible;
        opacity: 1;
        transform: translateX(0);
        /* Move in from the right */

    }

    .menu-closed .nav-links {
        opacity: 0;
        visibility: hidden;
        transform: translateX(-100%);
        /* Move off-screen to the right */

    }

    .transition-enabled {
        transition: transform 0.5s ease, opacity 0.5s ease, visibility 0.5s linear;
        /* Add other transition properties as needed */
    }

    .no-transition {
        transition: none;
        /* No transition TODO: Animation still triggered if device size changes */
    }


    .nav-links ul {
        flex-direction: column;
    }

    .nav-links li {
        margin-bottom: 20px;
    }

    .menu-open .menu-icon span:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .menu-open .menu-icon span:nth-child(2) {
        opacity: 0;
    }

    .menu-open .menu-icon span:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    .overlay {
        display: none;
        /* Hide the overlay initially for smaller devices */
        pointer-events: none;
        /* Make the overlay non-interactive when hidden */
        z-index: 2;
        /* lower z-index for the overlay when it's not displayed */
        /* start with 0 opacity */
        transition: opacity 0.5s ease;
        /* add a smooth transition */
    }

    .menu-open .overlay {
        display: block;
        /* Show the overlay when the menu is open on smaller devices */
        opacity: 1;
        pointer-events: auto;
        /* Make the overlay interactive when shown */
    }

    .nav-links ul li a {
        font-size: 28px;
        /* Adjust the font size as needed */
    }
}