/* Home component styles */
.home {
    /* Set the background image and cover the entire viewport */
    background-image: url('../../public/DJI_0111.jpg'); /* Relative path to the image */
    background-size: cover;
    background-position: center;
    height: 100vh; /* Make the component fill the entire viewport height */
    color: #fff; /* Text color on top of the background image */
    text-align: center;
    padding: 2rem;
  }

  /* Home component styles */
.home-container {
    /* Set the background image and cover the entire viewport */
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  /* Additional styling for the text */
  .home h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .home p {
    font-size: 18px;
  }
  