/* Set the background image on the body element */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Header styles */
.header {
    background-color: transparent;
    position: absolute;
    /* Remove background color */
    color: #000000;
    width: 100%;
    z-index: 2;
    /* Ensure navigation elements are on top */
    padding: 20px 0;
    /* Add top and bottom padding (20px) and no left/right padding */
}

/* Navigation menu styles */
.nav-container {
    max-width: 1200px;
    /* Adjust as needed */
    margin: 0 auto;

}

/* Use media queries for responsive padding adjustments */
@media (max-width: 768px) {
    padding: 0.5rem;
    /* Adjust the padding for smaller screens */
}

/* Style for navigation elements within the <nav> element */
nav {
    color: #f50b0b;
    position: fixed;
    top: 0;
    right: 0;
    padding: 3rem;
    /* Adjust the initial padding as desired */
    /* Change the color of the navigation elements to black */
}

/* Navigation menu styles */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    /* Adjust spacing as needed */
    transition: opacity 0.3s ease;
    /* Add a smooth transition for opacity changes */
    opacity: 1;
    /* Set the initial opacity */
}

nav ul li a {
    text-decoration: none;
    color: #000000; /* Change color of navigation elements */
    font-family: 'Futura', sans-serif;
    opacity: 1;
    /* Set the initial opacity */
}

nav ul li:last-child {
    margin-right: 0;
    /* Remove margin from the last element */
}

/* Apply opacity change on hover */
nav li:hover {
    opacity: 0.3;
    /* Adjust the opacity value as needed */
}

nav a {
    text-decoration: none;
    color: #000000;
    /* Adjust text color of the navigation elements */
    font-weight: bold;
}

/* About section styles */
.about {
    padding: 2rem;
}

.about h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.about p {
    color: #666;
    font-size: 16px;
}

/* Portfolio section styles */
.portfolio {
    padding: 2rem;
}

.portfolio h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Style your portfolio images as needed */
.portfolio img {
    max-width: 100%;
    height: auto;
    border: 2px solid #ddd;
    margin: 10px;
    transition: transform 0.3s ease-in-out;
}

/* Add hover effect to portfolio images */
.portfolio img:hover {
    transform: scale(1.05);
}

/* Blog section styles */
.blog {
    padding: 2rem;
    color: #333;
    font-size: 16px;
}