.portfolio-grid-detail-wrapper {
    /* padding-top: 100px; */
    /* Adjust the value as needed */
    background-color: black;
    /* Adjust the color as needed */
    min-height: 100vh;
    /* Ensure the background covers the entire viewport height */
}

.portfolio-grid-detail-wrapper {
    margin-top: 7vh;
}

.portfolio-grid-entry {
    /* Your existing styles for portfolio grid entries */

    /* Add a transition for smooth opacity change */
    transition: opacity 0.3s ease;
}

.portfolio-grid-entry:hover,
.portfolio-grid-entry:active {
    filter: brightness(70%);
    /* Adjust the brightness value as needed */
}