.portfolio-grid-detail-wrapper {
    /* padding-top: 100px; */
    /* Adjust the value as needed */
    background-color: rgb(15, 15, 15, 0.9); /* Dark gray color */
    /* Adjust the color as needed */
    min-height: 100vh;
    /* Ensure the background covers the entire viewport height */
}

.portfolio-grid-detail-wrapper {
    padding-top: 8vh;
}

.scrolling-down .portfolio-grid-detail-wrapper:not(.modal-open) .back-button.changeOpacity {
    opacity: 0.5;
    transition: opacity 0.5s ease; /* Apply ease animation only to opacity */
  }
  
  .portfolio-grid-detail-wrapper:not(.modal-open) .back-button.original {
    opacity: 1;
    transition: opacity 0.5s ease; /* Apply ease animation only to opacity */
  }

.back-button {
    position: fixed;
    top: 20px;
    /* Adjust the top position as needed */
    left: 12px;
    /* Adjust the left position as needed */
    z-index: 2;
    /* Ensure the button is above other content */
    margin: 0;
    padding: 10px;
    /* Adjust padding as needed */
    font-size: 12px;
    /* Adjust font size as needed */
    /* Button background color */
    color: white;
    background-color: transparent;
    /* Set background color to transparent */
    border: 1px solid white;
    /* Add border around the text */
    border-radius: 5px;
    /* Optional: Add border-radius for rounded corners */
    cursor: pointer;
}

.portfolio-grid-detail-wrapper.modal-open .back-button {
    opacity: 0;
    pointer-events: none;
}

.portfolio-grid-detail-wrapper.modal-closed .back-button {
    opacity: 1;
}