.news-grid-wrapper {
    background-color: rgb(15, 15, 15, 0.9);
    padding-top: 98px;
    margin-bottom: 90px;
    padding-left: 24px;
    padding-right: 24px;
}

.news-title {
    color: white;
    text-align: center;
    margin-bottom: 15px;
    font-size: 2rem;
}

.news-subtitle {
    color: #cccccc;
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.2rem;
    font-weight: 300;
    font-style: italic;
}

.news-grid-entry {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.news-grid-entry:hover {
    transform: scale(1.02);
}

.news-grid-wrapper.modal-open {
    pointer-events: auto;
}

.news-grid-wrapper.modal-closed {
    pointer-events: auto;
}